body{
    font-family: "PT Sans Caption", sans-serif;
    height: 1000;
    background-color: #f8ede0 !important; 
}

section h1{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    position: relative;
}

h1::before{
    content: "";
    background-color: #fec260;
    position: absolute;
    width: 28%;
    height: 25%;
    left: 35%;
    bottom: 10px;
    transition: height 350ms;
    z-index: -1;
}
h1:hover::before{
    height: 50%;
}


.line{
    border-style: dotted;
    border-width: 1.4px;
    border-color: black;
    margin-top: 50px;
}


#labels{
    margin-left: 100px;
}


